body { font-family: 'Barlow Semi Condensed', sans-serif; }
.sis-required:after { content: " *"; color: red; }
.form-row { padding-bottom: 15px; }

@media only screen and (max-width:500px) {
	.div-table { overflow: scroll; }
	.div-table table { width: 100%; }
	.form-row { padding-bottom: 0px; }
	.form-control { margin-bottom: 15px; }
}
